@import url(css/bootstrap.min.css);
form.form-inline {
    padding-top: 70px;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: #ccc !important;
}

article h2 {border-bottom: 1px solid #ccc;}
.space{
padding:50px 0;

}

.widget h4{background:#ccc;}
.widget * {padding:20px;}
.widget{border:1px solid #ccc;margin-bottom:20px;}